[
  {harness_project_1_config, [
    {cfclient, [
      {config, [
        {name, instance_name_1}
      ]},
      {api_key, {environment_variable, "FF_API_KEY_2"}}]
    }
  ]
},
  {harness_project_2_config, [
    {cfclient, [
      {config, [
        {name, instance_name_2}
      ]},
      {api_key, {environment_variable, "FF_API_KEY_2"}}]
    }
  ]
  },
  {cfclient, [
    {start_default_instance, true},
    {api_key, {environment_variable, "FF_API_KEY_0"}},
    {config, [
      {config_url, "https://config.ff.harness.io/api/1.0"},
      {events_url, "https://config.ff.harness.io/api/1.0"}
    ]},
    {analytics_push_interval, 60000}
  ]
},
  {kernel,
    [{logger_level, all},
      {logger,
        [{handler, default, logger_std_h,
          #{level => debug}},
          {handler, debug, logger_std_h,
            #{filters => [{debug, {fun logger_filters:level/2, {stop, neq, debug}}}],
              config => #{file => "log/debug.log"}}}
        ]}]}].